.archive-viewer-container {
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  