/* formfacture.css */

/* Set background color for the container */
.facture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  border-radius: 10px;
}

/* Set styles for the form elements */
.facture-form {
  background: whitesmoke;
  padding: 80px;
  border-radius: 8px;
  width: 80%;
  
  
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Add spacing between form inputs */
.facture-label {
  display: flex;
  margin-bottom: 10px;
}

.facture-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.facture-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.facture-button:hover {
  background-color: #0056b3;
}

.form-paragraph {
  padding-top: 100px;
  text-align: center;
  font-size: 18px;
}
