/* factureform.css */

.form-paragraph {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.facture-container {
  margin-top: 20px;
}

.facture-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.facture-label {
  font-weight: bold;
}

.facture-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.facture-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 300px;
 
}

.facture-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .facture-form {
    padding: 10px;
  }
}
