
  
 .facture-update-container {
  background-color: #f0f4f8; 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important; 
  margin-top: 20px;
}
  
 .facture-update-form{
  margin-left: 50px;
  width: 100%;
  
 }
  
  .facture-update-form label {
    display: block;
    
    font-weight: bold;
    color: #142e44;
    
   
  }
  .facture-update-form button[type='submit']:hover {
    background-color: #0056b3; 
  }
  .facture-update-form input[type='text'],
  .facture-update-form input[type='number'],
  .facture-update-form select,
  .facture-update-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cfd8dc; 
  border-radius: 5px;
  color: #142e44; 
  background-color: #ffffff;
   
   
  }
  
  .facture-update-form textarea {
    height: 100px;
  }
  
  .facture-update-form button[type='submit'] {
    background-color: #4367c4; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .facture-update-form button[type='submit']:hover {
    background-color: #007bff;
    
  }

  .upload-btn {
    background-color: #4367c4; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-top: 10px; 
  }
  .upload-btn:hover {
    background-color: #007bff; 
  }
 
  